@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,900&display=swap");

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: 0.5s;
}

:root {
  --text: #fff;
  --color-btn: #ffd621;
  --text-btn-color: #000;
  --bg-element-color: #1b1b1b;
  --text-footer-color: #7351c4;
  --bg-footer: #101018;
  --color-footer-text: #65629b;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url(../content/background/pattern_stars_dark_888.png);

  background-color: #151421;
  background-repeat: repeat;
  background-size: 888px 888px;
  animation: bg-scrolling-reverse 27s infinite;
  animation-timing-function: linear;
}

ul,
li {
  list-style: none;
}

nav {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 336px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #151421 28%,
    rgba(21, 20, 33, 0.75) 60%,
    rgba(21, 20, 33, 0) 100%
  ) !important;
}

.nav-content {
  height: 100px;
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-r {
  display: flex;
  height: 100%;
  padding-right: 45px;
  float: right;
}

.nav-btn {
  cursor: pointer;
  font-weight: 700;
  margin: 40px 34px;
  color: var(--text);
  transition: 0.5s;
}

.nav-btn:hover {
  transition: 0.3s;
  text-shadow: 0px 0px 3px var(--text);
}

.btn {
  margin: 18px 0;
  display: block;
  color: var(--text);
}

.order {
  display: block;
  text-align: center;
  text-shadow: 0px 0px 2px #000000;
}

.Text {
  color: #da6a6a;
  font-size: larger;
  font-weight: 800;
}

button {
  margin-top: 7px;
  cursor: pointer;
  height: 37px;
  width: 140px;
  border: none;
  border-radius: 30px 30px;
  font-size: large;
  font-weight: 900;
  background: var(--color-btn);
  justify-content: center;
  align-items: center;
  position: relative;
}

button:hover {
  background: #e0bf2b;
}

.logo {
  width: 100%;
}

.logo > video {
  margin-left: -46px;
  padding: 4px;
  width: 625px;
}

.top {
  height: 100%;
  width: 100%;
}

.background > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -50px;
  position: relative;
}

.about-me {
  font-size: 2.5rem;
  font-weight: 1000;
  text-shadow: -2px 5px 0px #000000;
  letter-spacing: 1px;
}

.just-me {
  height: auto;
  width: 420px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: start;
  letter-spacing: -2px;
  text-shadow: 1px 2px 5px #000000;
}

.welcome-text {
  height: auto;
  position: absolute;
  z-index: 60;
  margin: -37% 22%;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
}

.con {
  height: auto;
  width: 370px;
  justify-content: center;
  align-items: center;
}

.con-el {
  width: 132px;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 2px 5px #000000;
}

footer {
  background: var(--bg-footer);
  color: var(--color-footer-text);
  bottom: 0;
  position: relative;
  height: auto;
  display: flex;
  padding: 25px 0;
  margin-top: -6px;
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
}

.footer-icon > img {
  padding: 2px 0;
  height: 40px;
  width: auto;
}

.data {
  margin-top: 35px;
  width: auto;
}

.info > p {
  margin-top: -20px;
  font-weight: 800;
  margin-left: 2rem;
}

.copyrighte > * {
  display: block;
  margin-top: 1px;
  height: 50px;
  width: auto;
  align-items: center;
  text-align: center;
}

span {
  margin-top: 2px;
}

.social {
  height: 50px;
  width: auto;
}
